/*Colors*/
$black: #000;
$white: #fff;
$greyPlashka: #f9f9f9;
$greyText: #737373;
$green: #8bd176;
$deepGreen: #02aa3d;
$yellow: #ffcf26;

/*Fonts*/
$robotoRegular: "Roboto-Regular", Verdana, sans-serif;
$robotoBold: "Roboto-Bold", Verdana, sans-serif;
$interRegular: "Inter-Regular", Verdana, sans-serif;
$interBold: "Inter-Bold", Verdana, sans-serif;
$montserratExtraLight: "Montserrat-ExtraLight", Verdana, sans-serif;
$montserratLight: "Montserrat-Light", Verdana, sans-serif;
$montserratRegular: "Montserrat-Regular", Verdana, sans-serif;
$montserratMedium: "Montserrat-Medium", Verdana, sans-serif;
$montserratBold: "Montserrat-Bold", Verdana, sans-serif;
$montserratExtraBold: "Montserrat-ExtraBold", Verdana, sans-serif;
$montserratExtraBoldIt: "Montserrat-ExtraBoldItalic", Verdana, sans-serif;

/*Others*/
$centered: 0 auto;

