.site-map-cont {
  padding-bottom: 0;

  &__article {
    margin-bottom: 2.5rem;
    padding-right: 1.2rem;
  }

  &__heading {
    margin-bottom: 1rem;
    font-size: 18px;
    font-family: $montserratBold;
    line-height: 22px;
  }
}

.sitemap-list__item {
  margin-bottom: 20px;
}

.sitemap-list__link {
  transition: color .3s ease-in-out;

  &:hover , &:focus , &:active {
    color: $deepGreen;
    transition: color .3s ease-in-out;
  }
}

.site-map-cont__article ul {
  display: block;
  padding: 0;
}

.site-map-cont__article div {
  padding-left: 0;
}

.site-map-cont__article ul li {
  margin-bottom: 9px;
}

.site-map-cont__article ul li a {
  font-size: 12px;
  font-family: $montserratMedium;
  line-height: 14px;
  text-transform: none;
}


